<div class="collage-spotify-container">
  <div class="masonry-grid">
    <div class="grid-item"><img src="../../assets/barrabailaA.jpg" alt="Imagen 1"></div>
    <div class="grid-item"><img src="../../assets/chi.jpg" alt="Imagen 2"></div>
    <div class="grid-item"><img src="../../assets/happy.jpg" alt="Imagen 3"></div>
    <div class="grid-item"><img src="../../assets/ob2.jpg" alt="Imagen 4"></div>
    <div class="grid-item"><img src="../../assets/feb.jpg" alt="Imagen 5"></div>
    <div class="grid-item"><img src="../../assets/aym.jpg" alt="Imagen 6"></div>
  </div>

  <div class="spotify-widget">
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/6Clz4K9N0DX7dQb0vOpOjU?utm_source=generator&theme=0" width="250"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</div>
