/* Fondo degradado para el body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #07ab07, #212020); /* Degradado de verde oscuro a negro */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del contenedor del formulario */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 40px;
  width: 350px; /* Ajuste del ancho del formulario */
  color: #000000;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #000000; /* Color de las etiquetas */
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente para que los campos se vean */
  color: #000;
}

.input-group input::placeholder {
  color: #ffffff; /* Color del texto placeholder */
}

.input-group input:focus {
  outline: none;
  border: 2px solid #88d888; /* Borde verde brillante al enfocar */
}

.btn-submit {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #99e499;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #578557;
}
