<!-- login.component.html -->
<div class="container mt-5">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>
    <div class="form-group mt-3">
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="!loginForm.form.valid"
    >
      Iniciar Sesión
    </button>
  </form>
</div>
