/* Estilo para la nav-bar con colores personalizados */
.bg-custom {
  background-color: #2279d0; /* Azul marino */
}

.navbar-brand {
  font-size: 1.8rem; /* Tamaño de fuente más grande */
  font-weight: bold;
  color: #ec6445; /* Rojo */
}

.nav {
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px; /* Espaciado horizontal entre los elementos de la nav-bar */
}

.nav-link {
  color: #ec6243 !important; /* Rojo */
  font-weight: 500;
}

.nav-link.active {
  color: #ffffff !important; /* Blanco para el enlace activo */
  background-color: #0056b3; /* Azul más claro para el fondo del enlace activo */
}

.nav-link:hover {
  color: #ffffff !important; /* Blanco al pasar el ratón */
  text-decoration: underline; /* Subrayar el texto al pasar el ratón */
}

.nav-link.disabled {
  color: #6c757d !important; /* Color gris para el enlace deshabilitado */
  pointer-events: none; /* Desactivar clics en el enlace deshabilitado */
}
