<!-- Mostrar nav-bar si no estás en la página de login -->
<nav *ngIf="!isLoginPage()" class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">A&M</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/proposals" routerLinkActive="active">Propuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/collage" routerLinkActive="active">Collage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diary" routerLinkActive="active">Diario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido dinámico de la aplicación -->
<router-outlet></router-outlet>
