/* Estilo para la nav-bar con colores personalizados */
.bg-custom {
  background-color: #025eba;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: #ee7a60 !important;
  margin: 0 15px;
  font-weight: 500;
}

.nav-link:hover {
  color: #ffffff !important;
  text-decoration: underline;
}


